accelerate==0.28.0
fastapi==0.110.0
langchain==0.1.13
langchain_community==0.0.29
langchain_text_splitters==0.0.1
pydantic==2.6.4
Requests==2.31.0
streamlit==1.27.2
uvicorn==0.29.0
langchain_google_genai==1.0.6
python-dotenv==1.0.1

